* {margin:0;padding:0;box-sizing:border-box;}

header {
	padding: 4em;
    background-image: url("images/SharkTank_Prime1.png");
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: sans-serif;   
}

nav a {
	text-decoration: none;
	color: #ffffff;
	margin-right: 2.5em;
    padding: 1.2em;
	display: inline-block;
	font-family: 'sans serif', serif;
	font-size: 1.5em;
}
nav {
    background-color: #333;
    width: 100%;
}
img {
    width: 100%;
}

footer {
	padding: 20px;
    text-align: center;
}

#wrapper {
    background-color: #CEC6DB;
    display: block;
    line-height: 1.5em;
    padding: 2em;
    margin: 2em;
}

#right {
    background-color: #CEC6DB;
    display: block; 
    margin: 2em;
    padding: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
