
@import url(https://fonts.googleapis.com/css?family=Monofett);
.b1, .b2, .b3, .b4{
    display:inline-block;
    position: relative;
    margin: 5em;
    float:left;
    width: calc(25% - 10em);
    height:200px;
    background-color: rgba(0,255,77,.5);
    text-align: center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
body{
/*  text-align: center;*/
  background: url("http://imgur.com/2cugsrr.jpeg");
  background-size: cover;
  color: #fff;
  }
  li{
  	font-size: 15em;
  }
  p{
  	font-size: 20em;
    font-family: 'Monofett', cursive;
  }
  h3{
    font-family: 'Monofett', cursive;
  }